*{
    margin: 0px;
}

#container,#panel{
    border: 2px solid black;
}


#panel{
    width: 80%;
    height: auto;
    margin: auto;
    
}

#input-form{
    border: 1px solid blue;
    margin: auto;
    margin-top:20px ;
    height: 500px;
    width: 600px ;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(226, 243, 244);
}

#outer_box{
    border: 1px solid rgb(238, 202, 254);
    margin: 20px;
    padding: 10px;
    background-color: rgb(212, 195, 247);
    border-radius: 10px;
}


#login-text,#signup-text{
    color: black;
    text-align: center;
}

#login-form,#signup-form{
    margin: 10px;
}

#heading{
    color: blueviolet;
    text-align: center;
}
#index_text{
    text-align:center;
    margin-top: 20%;
    color: brown;

}

#error_msg{
    color: red;
}


