*{
    margin: auto;
}

#container,#panel{
    border: 2px solid black;
}


#panel{
    width: 80%;
    height: auto;
    margin: auto;
    
}

#input-form{
    border: 1px solid blue;
    margin: auto;
    margin-top:20px ;
    height: 520px;
    width: 600px ;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(226, 243, 244);
}


#login-text,#signup-text{
    color: black;
    text-align: center;
}

#login-form,#signup-form{
    margin: 10px;
}

#heading{
    color: blueviolet;
    text-align: center;
}